<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/submit" method="post">
        <input type="text" name="username" placeholder="Enter your name">
        <input type="submit" value="Submit">
    </form>

    <h2>Usernames</h2>
    <ul>
        {% for user in usernames %}
            <li>{{ user.username }}</li>
        {% endfor %}
    </ul>
</body>
</html>
